<!DOCTYPE html>
<html lang="en">
<head>
        <% include partials/head %> 
</head>
<body>
      <% include partials/menu %> 

        <div class="container-fluid bg-3 text-center">    
                <h3> WEBSITE SEKOLAHAN </h3><br>
                <div class="row">
                  <div class="col-sm-4">
                    <p>Ini text</p>
                    
                  </div>
                  <div class="col-sm-4"> 
                    <p>Ini text.</p>
                  </div>
                  <div class="col-sm-4"> 
                    <p>Ini text.</p>
                  </div>
                </div>
              </div>





</body>
</html>