<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STUDENT PAGE</title>
</head>

<body>
    <h1>STUDENT PAGE</h1>

    <form action="/student" method="post">
        <label for="">First Name: </label>
        <input type="text" name="first_name"> <br />
        <label for="">Last Name:</label>
        <input type="text" name="last_name"> <br />
        <label for="">Age:</label>
        <input type="text" name="age"> <br />
        <button type="submit">Submit</button>
    </form>
</body>

</html>
