<!DOCTYPE html>
<html>
    <form method="POST">
        First name: <br>
        <input type="text" name="first_name"><br>
        Last name: <br>
        <input type="text" name="last_name"><br>
        <input type="submit" value="submit">
    </form>
</html>