<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Please input student's data</h1>
    <form>
        fullName: <br>
        <input type:"text" name="fullName"><br>
        Parent's Name: <br>
        <input type:"text" name="parentsName"><br>
        Height:<br>
        <input type:"number" name="height"><br>
        <button type:"submit" value: "submit">Submit</button>
    </form>
</body>
</html>