<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Student Page</h1>

    <form method="POST" action="/student/data">
        First Name: <br> <input type="text" name="firstname"><br>
        Last Name: <br> <input type="text" name="lastname"><br>
        Age: <br> <input type="text" name="age"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>