<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> Student </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <h2> Input student data </h2>
        <form action="/student" method="post">
            <ul>
                <li>First Name</li>
                <p><input type="text" name="first_name"></p>
                <li>Last Name</li>
                <p><input type="text" name="last_name"></p>
            </ul>
            <button type="submit"> Add data </button>
        </form>
</body>
</html>