<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Teacher</h1>
    <ul>
      <% for (var i = 0; i < teacher.length; i++) { %>
          <li>
            <p>
              Name  = <%=teacher[i].name%> <br> Mapel = <%=teacher[i].mapel%>
            </p>
          </li>
      <%}%>
    </ul>
  </body>
</html>