<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Teacher Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border: 1px solid #ddd;
            padding: 8px;
        }
        tabel tr:nth-child(even){background-color: #f2f2f2;}
        table tr:hover {background-color: #ddd;}
        table th{
            border-collapse: collapse;
            width: 30%;
            background-color: #6ca3fc;
        }
    </style>
    <script src="main.js"></script>
</head>
<body>
    <h1>Teacher Page</h1>
    <table>
        <tr>
            <th>Num.</th>
            <th>Teacher Name</th>
            <th>Age</th>
            <th>Subject</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>Ciska Frisilia</td>
            <td>24</td>
            <td>Science</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Rodi Ginanjar</td>
            <td>44</td>
            <td>Math</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Ariesta Paskah</td>
            <td>33</td>
            <td>English</td>
        </tr>
    </table>
</body>
</html>