<html>

<table style="width:100%" border="1">
    <tr>
      <th> First Name </th>
      <th> Last Name </th>
      <th> Age </th>
      <th> Gender </th>
    </tr>
    <tr>
      <td align="center"> Joe </td>
      <td align="center"> Mill </td>
      <td align="center"> 30 </td>
      <td align="center"> Male </td>
    </tr>
    <tr>
      <td align="center"> Mike </td>
      <td align="center"> Jackson </td>
      <td align="center"> 94 </td>
      <td align="center"> Male </td>
    </tr>
</table> 
</html>