<html>
    <style>
        table {
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }
        td, th {
            border:2px solid salmon;
            text-align: center;
            padding: 4px;
        }

        tr:nth-child(even) {
            background-color:powderblue;
        }
    </style>

    <table>
    <tr>
        <th>firstName</th>
        <th>lastName</th>
        <th>age</th>
        <th>location</th>
    </tr>
    <tr>
        <td>Wika</td>
        <td>Lol</td>
        <td>26</td>
        <td>Jakarta</td>
    </tr>
    <tr>
        <td>Rama</td>
        <td>Go</td>
        <td>30</td>
        <td>Depok</td>
    </tr>
    <tr>
        <td>Kana</td>
        <td>Nishino</td>
        <td>24</td>
        <td>Jepang</td>
    </tr>
    <tr>
        <td>Ikan</td>
        <td>Dori</td>
        <td>100</td>
        <td>Laut</td>
    </tr>
    </table>
</html>